# ==========================================
# CIBERMUNDO-ASSIST - Variables de Entorno
# ==========================================

# Puerto donde correrá el backend local de Node
BACKEND_PORT=3333

# URL de la API del backend que consumirá el Frontend
# Si necesitas probar desde otra PC, cambia localhost por
# la dirección IP local de tu computadora.
# Ejemplo: VITE_API_URL=http://192.168.1.15:3333
VITE_API_URL=http://localhost:3333

# Configuración del Worker
WORKER_POLL_MS=5000
INTERNET_CHECK_INTERVAL=30000
MAX_JOB_ATTEMPTS=5
PAYMENT_API_URL=https://www3.interrapidisimo.com/ApiServInter/api/Mensajeria/ObtenerRastreoGuiasClientePost
PAYMENT_API_TIMEOUT=15000

# Credenciales para raspado de Portal Interno (APX)
APX_URL=https://www3.interrapidisimo.com/SitioLogin/auth/login
APX_USER=
APX_PASS=
