WORKER_POLL_MS=1500
DB_PATH=../../data/app.db
NET_CHECK_URL=https://www.google.com/generate_204
PAYMENT_API_URL=https://www3.interrapidisimo.com/ApiServInter/api/Mensajeria/ObtenerRastreoGuiasClientePost
ENABLE_APX_SCRAPER=false
APX_URL=(placeholder)
APX_USER=(placeholder)
APX_PASS=(placeholder)
